zeroconf==0.56.0
flask==2.2.3
flask-cors>=3.0.7
Flask-RESTful>=0.3.7
Flask-Jsonpify>=1.5.0
flask-inputs>=0.3.0
python-mpv==0.5.2
requests==2.21.0
tinkerforge==2.1.20
pysrt==1.1.1
numpy
apscheduler==3.5.3
keyboard==0.13.2
ntplib>=0.3.3
pause>=0.2
phue>=1.1
pytest
raven[flask]
